body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F08080; 
    font-family: monospace; 
}

.clock-container {
    text-align: center;
    background-color: #DC143C; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#clock {
    font-size: 4em;
    color: white; 
    letter-spacing: 4px;
    text-shadow: 0 0 10px white; 
    font-weight: bold;
}
